// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Typefaces
@font-face {
	font-family: "Capriola";
	src: url("Capriola-Regular.ttf") type("truetype");
}

@font-face {
	font-family: "Segoe UI";
	src: url("Segoe-UI.ttf") type("truetype");
}

// General Classes
* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: "Segoe UI";
	margin: 0;
	padding: 0;
}

// Clearfix Hack
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

// Custom Icons 
.ion-md-profile {
	content: url("../assets/icon/icon_profile.png");
	width: 20px;
	height: auto;
}

.ion-md-map {
	content: url("../assets/icon/icon_map.png");
	width: 20px;
	height: auto;
}

.ion-md-message {
	content: url("../assets/icon/icon_message.png");
	width: 20px;
	height: auto;
}

.ion-md-friends {
	content: url("../assets/icon/icon_friends.png");
	width: 20px;
	height: auto;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #3eacff,
  secondary:  #ff3e73,
  tertiary:   #ffd83e,
  white:      #fff,
  light:      #c5c5c5,
  mid:		  #777,
  dark:       #444,
  facebook:   #3b5998
);

// Tabs Page
$tabs-background: color($colors, primary);
$tabs-md-tab-color-active: color($colors, white);
$tabs-md-tab-color-inactive: color($colors, white);
$tabs-md-tab-icon-size: 3rem;

// Status Button
.status-button__container {
	width: 34px;
	height: 34px;
}

.status-button__container__outer {
	width: 100%;
	height: 100%;
	background-color: color($colors, light);
	border-radius: 100%;
	text-align: center;
}

.status-button__container__outer__mid {
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.status-button__container__outer__mid__inner {
	width: 20px;
	height: 20px;
	background-color: color($colors, primary);
	border-radius: 100%;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
